// Core - Includes
@ImportNoctalia@
@ImportDMS@

// System - Input
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay { skip-at-startup; }

input {
    keyboard {
        xkb {
            layout "@keyboardLayout@"
            variant "@Variant@"
            options "caps:swapescape"
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
        numlock
    }
    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.100000
        accel-profile "adaptive"
        scroll-method "two-finger"
    }
    mouse { accel-speed -0.500000; }

    warp-mouse-to-focus
    workspace-auto-back-and-forth
    mod-key "Super"
    mod-key-nested "Alt"
}

// Appearance - Layout
overview {
    backdrop-color "#080808"
    workspace-shadow {
        softness 15
        spread 10
    }
}

blur {
    passes 5
    offset 2.0
    noise 0.03
    saturation 1.6
}

layout {
    gaps 5
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { off; }
    border { off; }
    shadow {
        on
        offset x=0.000000 y=5.000000
        softness 10
        spread 1
        draw-behind-window false
        color "#00000070"
    }
    default-column-width { proportion 0.333333; }
    preset-column-widths {
        proportion 0.333333
        proportion 0.666667
    }
    center-focused-column "never"
}

animations {
    slowdown 0.800000
    config-notification-open-close { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    exit-confirmation-open-close   { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    horizontal-view-movement       { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    overview-open-close            { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    screenshot-ui-open             { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    window-close                   { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    window-movement                { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    window-open                    { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    window-resize                  { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
    workspace-switch               { duration-ms 452; curve "cubic-bezier" 0.2 1.0 0.2 1.0; }
}

// Window - Rules
window-rule {
    background-effect { blur true; }
}

window-rule {
    match is-active=false
    opacity 0.920000
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    match title="^Picture in picture$"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=10 y=10 relative-to="bottom-left"
}

window-rule {
    match app-id="helium" title="^Picture-in-Picture"
    open-floating true
    default-floating-position x=20 y=20 relative-to="bottom-left"
}

// Binds - Applications
binds {
    Mod+Return { spawn "foot"; }
    Mod+Y      { spawn-sh "foot -e yazi"; }
    Mod+W      { close-window; }
    Mod+P      { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }
    Print      { screenshot; }

// Binds - System Overlays
    Mod+Tab    { toggle-overview; }


// Binds - Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

// Binds - Navigation
    Mod+H            { focus-column-left; }
    Mod+J            { focus-window-or-workspace-down; }
    Mod+K            { focus-window-or-workspace-up; }
    Mod+L            { focus-column-right; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

// Binds - Swapping
    Mod+Ctrl+H { swap-window-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { swap-window-right; }

// Binds - Moving
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K { move-column-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

// Binds - Layout & Sizing
    Mod+C       { center-column; }
    Mod+Shift+C { center-visible-columns; }
    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Q       { set-window-height "+25%"; }
    Mod+E       { set-window-height "-25%"; }
    Mod+R       { switch-preset-column-width-back; }
    Mod+Shift+R { switch-preset-column-width; }

// Binds - Hardware & Media
    XF86AudioRaiseVolume  { spawn-sh "wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume  { spawn-sh "wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute { spawn-sh " wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle;"; }


    Ctrl+Alt+M            { spawn-sh "echo run-shortcut:toggleMute | nc -U -w1 $XDG_RUNTIME_DIR/vesktop.sock"; }
    Ctrl+Alt+K            { switch-layout "next"; }
		@powerProfileBind@
}
